body {
    background-color: black;
}

h1 {
    color: limegreen;
    text-align: center;
    font-size: 60;
}

button {
    width: 19%;
    height: 10%;
}

p {
    color: limegreen;
}
 
#AlgorithmCanvas {
    border-width: 1px;
    border-color: #FFFFFF;
}